    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="head-flex-item">Matt</div>
                <div class="flex-item">Bio</div>
                <div class="flex-item">Press</div>
                <div class="flex-item">Buy</div>
                <div class="flex-item">Sell</div>
                <div class="flex-item">Social</div>
                <div class="flex-item">Reviews</div>
                <div class="tail-flex-item">Hargrave</div>
            </div>
        </div>
    </header>
